header#header {
    nav {
        background: $primaryColor;

        @media screen and (max-width: 960px) {
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            display: none;

            &.is-visible {
                display: block;
            }
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            @media screen and (max-width: 960px) {
                flex-direction: column;
            }

            li {
                list-style: none;
                position: relative;

                a {
                    display: inline-block;
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 10px 20px;
                }

                ul {
                    display: none;
                }

                &:hover ul {
                    display: block;
                    position: absolute;
                    background: $primaryColor;
                    top:100%;
                    left: 0;

                    @media screen and (max-width: 960px) {
                        left:100%;
                        top: 0;
                        width: 175px;
                    }
                }
            }
        }
    }
}

.js-openMenu {
    position: fixed;
    right: 0;
}